<h1>Update Product</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group" hidden>
        <label class="form-label " for="id">Id</label>
        <input class="form-control " type="number" id="id" formControlName="id">
    </div>
    <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" id="name" formControlName="name">
        <div *ngIf="form.hasError('required','name') && (form.controls['name'].touched ||
            form.controls['name'].dirty)" class="alert alert-danger " role="alert">
            Name is required.
        </div>
    </div>
    <div class="form-group">
        <label class="form-label" for="price">Price</label>
        <input class="form-control" type="number" id="price" formControlName="price">
        <div *ngIf="form.hasError('min','price') && (form.controls['price'].touched ||
            form.controls['price'].dirty)" class="alert alert-danger " role="alert">
            Minimum price is 1.
        </div>
        <div *ngIf="form.hasError('required','price') && (form.controls['price'].touched ||
            form.controls['price'].dirty)" class="alert alert-danger " role="alert">
            Price is required.
        </div>
    </div><br>
    <div class="form-group">
        <label class="form-check-label " for="categoryId">CategoryId </label>
        <select class="form-select " id="categoryId" formControlName="categoryId">
            <option value="">select</option>
            <option *ngFor="let category of list" value="{{category.id}}">{{category.id}}-{{ category.name }}
            </option>
        </select>
        <div *ngIf="form.hasError('required','categoryId') && (form.controls['categoryId'].touched ||
            form.controls['categoryId'].dirty)" class="alert alert-danger " role="alert">
          Please select a category.
        </div>
    </div><br>
    <div class="form-group">
        <label class="form-label " for="manufacturedDate">Manufactured Date</label>
        <input class="form-control " type="date" id="manufacturedDate" formControlName="manufacturedDate" >
        <div *ngIf="form.hasError('required','manufacturedDate') && (form.controls['manufacturedDate'].touched ||
            form.controls['manufacturedDate'].dirty)" class="alert alert-danger " role="alert">
            Manufactured Date is required.
        </div>
    </div><br>
    <div class="form-group">
        <label class="form-label " for="imageUrl">Image URL</label>
        <input class="form-control " type="url" id="imageUrl" formControlName="imageUrl">
        <div *ngIf="form.hasError('required','imageUrl') && (form.controls['imageUrl'].touched ||
            form.controls['imageUrl'].dirty)" class="alert alert-danger " role="alert">
            Image Url is required.
        </div>
    </div><br>

    <div class="form-group">
        <input class="btn btn-primary " [disabled]="form.invalid" type="submit" value="Update Product">
    </div>

</form>

