<h1>ProductList</h1>
<div class="container ">
  <div class="row">
    <div class="col" *ngFor="let products of list">
      <div class="card">
        <img height="200px" src="{{products.imageUrl}}" class="card-img-top responsive" alt="...">
        <div class="card-header ">
          <h3 class="card-text">{{products.name}}</h3>
        </div>
        <div class="card-body ">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Price: </strong>{{products.price | currency:'INR'}}</li>
            <li class="list-group-item"><strong>Category: </strong>{{products.category.name}}</li>
            <li class="list-group-item"><strong>Manufacturing Date:</strong> {{products.manufacturedDate | date}}</li>
          </ul>
        </div>
        <div class="card-footer ">
          <div class="row">
            <div class="col">
              <button style="width:40%;margin-left:4%;margin-right:4%" class="btn btn-primary" [routerLink]="['/products/edit/',products.id]">Edit</button>
              <button style="width:40%;margin-left: 5%;" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
              (click)="setProductId(products.id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this product?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger " (click)="delete()"  data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>