<h1>Shopping App</h1>
<nav class='navbar navbar-expand navbar-light bg-light '>
    <a class='navbar-brand '>{{title}}</a>
    <ul class="nav nav-pills " *ngIf="isLoggedIn()">
        <li ><a class='nav-link ' routerLinkActive='active' [routerLink]="['']">Home</a> </li>
        <li ><a class='nav-link ' [routerLink]="['/categories']">Category List</a></li>
        <li ><a class='nav-link' [routerLink]="['/products']">Product List</a></li>
        <li ><a class='nav-link' [routerLink]="['/categories/add']">Add Category </a></li>
        <li ><a class='nav-link' [routerLink]="['/products/add']">Add Product </a></li>
        <li ><a class='nav-link' [routerLink]="['']" (click)="logout()">Logout</a></li>
    </ul>
</nav>


<router-outlet></router-outlet>
